.listings_container {
  display: flex;
  flex-direction: column;
  gap: var(--listings_container_inner_gap);
  color: var(--listings_container_card_colors);
}

.listings_container_title {
  text-align: center;
  background: white;
  padding: 15px 40px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: var(--border_radius);
  box-shadow: var(--box_shadow);
  transition: all var(--transition_time) var(--transition_function);
  margin-bottom: var(--listings_container_title_bottom_margin);
}
.listings_container_title:hover {
  box-shadow: var(--box_shadow_hover);
  cursor: pointer;
}

.listings_container_cards_container {
  display: flex;
  gap: var(--listings_container_gap_between_cards);
  flex-wrap: wrap;
}

.listings_container_cards_container_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: var(--listings_container_card_height);
  width: var(--listings_container_card_width);
  gap: var(--listings_container_card_gap_between_infos);
  padding: var(--listings_container_card_padding);
  border-radius: var(--border_radius);
  background: var(--listings_container_card_background);
  box-shadow: var(--box_shadow);
  transition: all var(--transition_time) var(--transition_function);
}
.listings_container_cards_container_card:hover {
  box-shadow: var(--box_shadow_hover);
  cursor: pointer;
}

.listings_container_cards_container_card_image {
  position: relative;
  height: var(--listings_container_card_image_height);
  user-select: none;
}
.listings_container_cards_container_card_image > img {
  width: 100%;
  height: 100%;
  border-radius: var(--border_radius);
}

.button_left {
  position: absolute;
  top: 50%;
  left: var(--listings_container_card_image_slide_left_button_gap);
  transform: translateY(-50%);
  color: var(--listings_container_card_image_slide_left_button_color);
}
.button_right {
  position: absolute;
  top: 50%;
  right: var(--listings_container_card_image_slide_right_button_gap);
  transform: translateY(-50%);
  color: var(--listings_container_card_image_slide_right_button_color);
}

/*  */

.listings_container_cards_container_card_info {
  display: flex;
  flex-direction: column;
  gap: var(--listings_container_card_gap_between_infos);
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.listings_container_cards_container_card_info_title {
  transition: all 0.2s ease-in;
  font-size: 19px;
  font-weight: bolder;
  color: #006a82;
}
.listings_container_cards_container_card_info_title:hover {
  text-decoration: underline;
  transform: translateY(-2px);
}

.listings_container_cards_container_card_info_seperated {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.listings_container_cards_container_card_info_seperated > h5 {
  display: flex;
  align-items: center;
  gap: 3px;
}

.listings_container_pagination {
  text-align: center;
}

.listings_container_row_cards_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listings_container_row_cards_card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: var(--listings_container_card_padding);
  border-radius: var(--border_radius);
  background: var(--listings_container_card_background);
  box-shadow: var(--box_shadow);
  transition: all var(--transition_time) var(--transition_function);
}
.listings_container_row_cards_card:hover {
  box-shadow: var(--box_shadow_hover);
  cursor: pointer;
}

.listings_container_row_cards_card_text_box > pre {
  white-space: normal;
}

@media only screen and (max-width: 1650px) {
  .listings_container_cards_container_card {
    width: var(--listings_container_card_width_1650);
  }
}
@media only screen and (max-width: 1600px) {
  .listings_container_cards_container_card {
    width: var(--listings_container_card_width_1600);
  }
}
@media only screen and (max-width: 826px) {
  .listings_container_cards_container_card {
    width: var(--listings_container_card_width_826);
  }
}
@media only screen and (max-width: 786px) {
  .listings_container_cards_container_card {
    width: var(--listings_container_card_width_786);
  }
}
@media only screen and (max-width: 700px) {
  .listings_container_cards_container_card {
    width: var(--listings_container_card_width_700);
  }
}
@media only screen and (max-width: 614px) {
  .listings_container_cards_container_card {
    width: var(--listings_container_card_width_614);
  }
}
