.sublinks_container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--border_radius);
  background: white;
  width: 100%;
  box-shadow: var(--box_shadow);
  transition: all 0.3s var(--transition_function);
  margin-bottom: 10px;
  color: #006a82;
}

.sublinks_container:hover {
  box-shadow: var(--box_shadow_hover);
  cursor: pointer;
}

.sublinks_container button {
  font-size: var(--navbar_links_link_font_size);
  font-weight: bold;
  padding: var(--navbar_links_link_padding);
  color: #006a82;
  border: none;
  border-bottom: 1px solid #006a82;
  background: none;
  display: flex;
  align-items: center;
  gap: 5px;
}
.sublinks_container button:hover {
  transform: translateY(-2px);
  cursor: pointer;
}

.sublinks_container_filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIN 600ms ease-in alternate;
}

@keyframes fadeIN {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sublinks_container_row {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.sublinks_container input {
  font-size: var(--navbar_links_link_font_size);
  font-weight: bold;
  padding: var(--navbar_links_link_padding);
  color: #006a82;
  border: none;
  border-bottom: 1px solid #006a82;
  background: none;
  width: 100px;
  text-align: center;
}
.sublinks_container select {
  font-size: var(--navbar_links_link_font_size);
  font-weight: bold;
  padding: var(--navbar_links_link_padding);
  color: #006a82;
  border: none;
  outline: none;
  border-bottom: 1px solid #006a82;
  background: none;
  min-width: 150px;
  text-align: center;
}
.sublinks_container input:focus {
  outline: none;
}

.sublinks_container_navigators {
  display: flex;
  gap: 20px;
}

.sublinks_container_row {
  display: flex;
  gap: 5px;
}

.sublinks_container_row > button {
  border: 1.5px solid #006a82;
  border-radius: var(--border_radius);
  transition: all 0.1s ease-in;
}
.sublinks_container_row > button:hover {
  transform: none;
  background: #006a82;
  color: var(--web_background-color);
}
