.container {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 25px;
	color: #006a82;
	border-radius: var(--border_radius);
	background: var(--general_form_background);
	box-shadow: var(--box_shadow);
	transition: all var(--transition_time) var(--transition_function);
  }
  .container:hover {
	box-shadow: var(--box_shadow_hover);
  }
  
  .container > pre {
	  white-space: normal;
	}
  
  .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .row > h4 {
	display: flex;
	align-items: center;
	gap: 5px;
  }
    
  
  
  @media only screen and (max-width: 690px) {
	.container {
		gap: 15px;
	  }
	.row {
		flex-direction: column;
		gap: 10px;
	  }
	}
  