.prices_table_outer {
  display: flex;
  color: var(--table_colors);
}

.prices_table {
  width: 100%;
  border-radius: var(--border_radius);
  margin-top: var(--prices_margin_top);
  text-align: center;
  background: var(--general_form_background);
  box-shadow: var(--box_shadow);
  transition: all var(--transition_time) var(--transition_function);
  padding: 15px;
}

.prices_table:hover {
  box-shadow: var(--box_shadow_hover);
}

.prices_table > thead > tr > th {
  padding: var(--prices_cell_padding);
}

.prices_table > tbody > tr > td {
  padding: var(--prices_cell_padding);
  border: var(--prices_cell_border_width)
    solid var(--prices_cell_border_color);
  border-radius: var(--prices_cell_border_radius);
}
